body {
    margin: 0;
}

.cor-laranja{ 
    color: orange;

}

.cor-laranja:hover{ 
    color: rgb(224, 200, 155);
}

h1, h2 {
    color: blue;
}

h1:hover{
    color: aqua;
    cursor: pointer;
}

p{
    color: green;
}

.card img {
    width: 200px;
    height: 200px;
}